@model HumanRMS.Models.employee_info
@{
    ViewBag.Title = "Employee";
    Layout = null;
}

<link href="~/css/login.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<div class="form-horizontal">
    <h2 class="sign">Employee Login</h2>

    <div class="form-group">
        @Html.LabelFor(model => model.emp_email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.emp_email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.emp_email, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.emp_cnic, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.emp_cnic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.emp_cnic, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>

    <div class="backlink">
        <a href="~/Account/Login">Click to Back</a>
    </div>
</div>
