@model HumanRMS.Models.emp_leaves

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>emp_leaves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.leave_yearly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave_yearly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deducated_leave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deducated_leave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remaining_leave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remaining_leave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attendance.att_work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attendance.att_work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee_info.emp_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_info.emp_fname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
