@model HumanRMS.Models.Event

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/deleteemployee.css" rel="stylesheet" />
<div class="main-content">
    <div class="container-fluid content-top-gap">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="~/Events/Index" style="color:darkblue">Events</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete-Event</li>
            </ol>
        </nav>

    </div>

    <div class="dl-horizontal">

        <h2>Delete Event</h2>
        <h3>Are you sure you want to delete this?</h3>
        
        <dl >
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Start)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThemeColor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThemeColor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsFullday)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsFullday)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
                <i class="fa fa-arrow-circle-o-left">@Html.ActionLink("Back to List", "Index")</i>
            </div>
        }
    </div>
</div>