@model HumanRMS.Models.admin_log

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <!-- Favicons -->
    <link href="~/images/AlfaOrigen.jpg" rel="icon">
    <link href="~/images/AlfaOrigen.jpg" rel="apple-touch-icon">
</head>
<link href="~/css/login.css" rel="stylesheet" />



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="sign">Sign In</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.admin_email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.admin_email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.admin_email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.admin_password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.admin_password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.admin_password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                    <label class="forget">Forget Password</label>
                </div>
            </div>
        
            <div class="backlink">
                <a href="~/Home/Index">Click to Back</a>
                <a href="~/Login/Login" style="padding-left: 25%;">Click to Employee</a>
            </div>
            </div>
    }



